@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html lang="pt-br">  <!--Idioma Português-Brasil-->

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Comece seu teste</title>

    <!-- Link estilo Bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Link estilo css-->
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>

    <!-- JavaScript -->
    <script src="/js/site.js" defer></script>

</head>  

<body> 
  <div class="card" style="width: 18rem; margin-top: 25px;">
    <img src="/css/testePortugues.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><b>Teste de Português</b></h5>
      <p class="card-text">Teste baseado em questões aplicadas em processos seletivos das empresas. O teste terá 10 perguntas com o intúito do candidato treinar para futuros processos.</p>
      <a asp-controller="Perguntas" asp-action="ComecarTestePortugues" class="d-flex justify-content-center btn btn-secondary">Começar Teste</a>
    </div>
  </div>
  <div class="card" style="margin-left: 370px; width: 18rem; margin-top: -440px;">
    <img src="/css/testeIngles.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><b>Teste de Inglês</b></h5>
      <p class="card-text">Teste baseado em questões aplicadas em processos seletivos das empresas. O teste terá 10 perguntas com o intúito do candidato treinar para futuros processos.</p>
      <a asp-controller="Perguntas" asp-action="ComecarTesteIngles" class="d-flex justify-content-center btn btn-secondary">Começar Teste</a>
    </div>
  </div>
  <div class="card" style="margin-left: 740px; width: 18rem; margin-top: -430px;">
    <img src="/css/testeLogica.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><b>Teste de Lógica</b></h5>
      <p class="card-text">Teste baseado em questões aplicadas em processos seletivos das empresas. O teste terá 10 perguntas com o intúito do candidato treinar para futuros processos. Esse teste abrange os temas: Probabilidade, Regra de três, Volume, Reconhecimento de padrão, entre outros.</p>
      <a asp-controller="Perguntas" asp-action="ComecarTesteLogica" class="d-flex justify-content-center btn btn-secondary">Começar Teste</a>
    </div>
  </div>
  
</body>
</html>
